body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: darken(white, 10%);
  margin: 50px;
}
iframe {
  margin: auto;
}

.admin {
  display: flex;
  flex-flow: column;
  justify-content: center;
  h1 {
    margin: auto;
  }
}
.analytics {
  display: flex;
  flex-flow: row wrap;
  .graph {
    margin: 20px;
  }
}
