
@import url(https://fonts.googleapis.com/css?family=Lato:300,700|Montserrat|Open+Sans|Open+Sans+Condensed:300|Raleway:100,200,500,600|Roboto|Source+Sans+Pro);
$buttonColor: lighten(green, 50%);
body {
  font-family: "Helvetica", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: darken(white, 3%);
  margin: 50px 50px 0px 50px;
  background-image: url('~/bundle/../imgs/green2blur.jpg');
  background-size: cover;
}
iframe {
  margin: auto;
  justify-content: center;
  margin: 20px;
}
/* Styles for the NavBar */
.navbarContainer {
  background-color: #ffffff;
  color: #454343;
  height: 40px;
  width: 100vw;
  margin-top: -50px;
  margin-left: -50px;
  padding-top: 25px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 999;
  border-bottom: 2px solid #3498db;
}
.pageLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  a {
    text-decoration: none;
    padding-right: 20px;
    opacity: .6;
    transition: all 0.5s ease;
    font-weight: 300;
    font-family: "Helvetica", sans-serif;
  }
  a:hover {
    text-decoration: underline;
    opacity: 1;
  }
}
.homeLink {
  text-decoration: none;
  padding-left: 5vw;
  color: black;
  opacity: .6;
  transition: all 0.5s ease;
  font-weight: 300;
  font-family: "Helvetica", sans-serif;
}
.homeLink:hover {
  text-decoration: underline;
  opacity: 1;
}
#bioLink{
  text-decoration: none;
  padding-right: 20px;
  color: red;
  opacity: .6;
  transition: all 0.5s ease;
  font-weight: 300;
  font-family: "Helvetica", sans-serif;
}
#bioLink:hover {
  text-decoration: underline;
  opacity: 1;
}
#botpage {
  padding: 20px;
}
#bot {
  justify-content: center;
  display: flex;
  flex-flow: row;
}
#botLink{
  text-decoration: none;
  padding-right: 20px;
  color: blue;
  opacity: .6;
  transition: all 0.5s ease;
  font-weight: 300;
  font-family: "Helvetica", sans-serif;
}
#botLink:hover {
  text-decoration: underline;
  opacity: 1;
}
#adminLink{
  text-decoration: none;
  padding-right: 5vw;
  color: green;
  opacity: .6;
  transition: all 0.5s ease;
  font-weight: 300;
  font-family: "Helvetica", sans-serif;
}
#adminLink:hover {
  text-decoration: underline;
  opacity: 1;
}
/* Styles for Map Page */
#mapContainer {
  height: 100vh;
  width: 100vw;
  margin-left: -50px;
  margin-bottom: -50px;
  padding-bottom: 0px;
  z-index: 10;
}
/* Pin Styles */
.pinContainer {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #3498db;
  border: 4px solid #ffffff;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}
.pinLetter {
  margin-top: 5px;
}

/* Admin Styling */
.admin {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0;
  h1 {
    margin: auto;
  }
}

.bios {
  padding: 50px;
}

.newbar {
  padding: 30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  input, textarea {
    font-size: 16px;
    margin: 3px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: none;
    border: none;
  }
  button {
    font-size: 16px;
    padding: 10px;
    margin: auto;
    margin-top: 3px;
    border-radius: 5px;
    border: 1px solid transparentize(black, .75);;
    background-color: $buttonColor;
  }
  button:hover {
    background-color: darken($buttonColor, 10);
  }
}

.admin {
  padding: 20px;
}

.analytics{
  font-weight: lighter;
  display: flex;
  flex-flow: column;
  justify-content: center;
  #locGraph, #intentGraph {
    margin: 20px;
    justify-content: center;
    display: flex;
    .tick {
      font-size: 10.5px;
    }
    div {
      padding: 30px;
      background-color: white;
      border-radius: 10px;
      border: 1px solid gray;
    }
    h4 {
      text-align: center;
      font-size: 25px;
      font-weight: lighter;
    }
  }
}

.error {
  padding-top: 25px;
  color: red;
}


#updateLocs {
  padding: 60px;
  input, textarea {
    border: 1px solid gray;
  }
}

.newLocMap {
  height: 300px;
  width: 70vw;
  display: flex;
  justify-content: center;
  .pinContainer {
    font-size: 12px;
    width: 30px;
    height: 30px;
  }
  .pinLetter {
    margin-top: 7px;
  }
}
.updateLocButtons {
  display: flex;
  flex-flow: row;
  justify-content: center;
  button {
    margin: 5px;
  }
}

/**-----------admin page ----------------**/
button.accordion {
    background: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-weight: 300;
    font-family: "Helvetica", sans-serif;
    margin-top:.5%;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}
button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

div.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 30px;
    }
    .column-form {
      display:flex;
      flex-direction: column;
      justify-content: center;
    }
    .bigger{
      // flex-grow: 2;
    }
    .error {
      font-family: "Raleway", sans-serif;
      font-size:12px;
    margin-bottom: 6px;
    }
}

div.panel.show {
    padding: 25px;
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

.bios {
  text-align:center;
}

.collapsible-bio{
  width: 78%;
  margin: 0 auto;
  .save{
    text-align: center;
    border:none;
    text-decoration: none;
    background: #fff;
    text-transform:uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 11.8px;
    cursor: pointer;
    // color:#fff;
    .delete{

    }
  }
}
/**---Image column----**/
.image-column{
  img {
    max-width:150px;
  }
  text-align: center;
  position:relative;
}

.collapsible-bio input[type="file"] {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
  left: 52%;
}
/**--------------input form ------------**/
.collapsible-bio input[type="text"] {
  font-family: "Open Sans", sans-serif;
  box-shadow: none;
  padding: 10px;
  padding-bottom: 4px;
  margin-bottom: 5px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  width: 200px;
  columns: 80;

}
.collapsible-bio input[type="text"]:focus,
.collapsible-bio input[type="text"].focus {
  border-bottom: solid 2.6px #969696;
  outline: none;
}

.collapsible-bio label {
  font-family: "Raleway", sans-serif;
  font-size: 13.5px;
  display: inline-block;
  min-width:50px;
  text-align:right;
  padding-right: 3px;
}

/**---Image column----**/
.image-column{
  img {
    max-width:150px;
  }
  label {
    font-family: "Montserrat";
    text-transform:uppercase;
    font-size: 11.8px;
    :hover {
      font-size: 13px;
    }
  }
  text-align: center;
  position:relative;
}

.collapsible-bio input[type="file"] {
  width: 53px;
  height: 16px;
  opacity: 0;
  position: absolute;
  left: 34%;
}


/**-------Bios--------**/
.bios-user{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 0 -10%;
  padding: 3% 15%;
}

.bio-item {
  width: 550px;
  background:#fff;
  border-radius: 6px;
}

.bio-item  {
  box-shadow: 2px 2px 13px #303030;
  .image img {
    max-width:100%;
    border-radius: 6px 6px 0 0;
  }
  .name {
    padding-top: 18px;
    text-transform:uppercase;
    font-size: 20px;
    letter-spacing: 1.75px;
    font-family:'Raleway', sans-serif;
    font-weight:600;
  }
  .major {
    margin: -8px 0 30px 0;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    text-transform:uppercase;
  }
  .content {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: .9em;
    letter-spacing: .8px;
    padding: 0 5%;
    color: #303030;
  }
}
