
@import url(https://fonts.googleapis.com/css?family=Lato:300,700|Montserrat|Open+Sans|Open+Sans+Condensed:300|Raleway:100,200,500,600|Roboto|Source+Sans+Pro);
 $buttonColor: lighten(green, 50%);
body {
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  color: rgb(10%, 10%, 10%);
  background: darken(white, 3%);
  margin: 50px 50px 0px 50px;
  background-image: url('~/bundle/../imgs/green2blur.jpg');
  background-size: cover;
}
iframe {
  margin: auto;
  justify-content: center;
  margin: 20px;
  border-radius: 5px;
   border: 1px solid gray;
}
/* Styles for the NavBar */
.navbarContainer {
  background-color: #ffffff;
  color: #454343;
  height: 40px;
  width: 100vw;
  margin-top: -50px;
  margin-left: -50px;
  padding-top: 25px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 999;
  border-bottom: 2px solid #3498db;
}
.pageLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  a {
    text-decoration: none;
    padding-right: 20px;
    opacity: .6;
    transition: all 0.5s ease;
    font-weight: 300;
    font-family: "Helvetica", sans-serif;
  }
  a:hover {
    text-decoration: underline;
    opacity: 1;
  }
}
.homeLink {
  text-decoration: none;
  padding-left: 5vw;
  color: black;
  opacity: .6;
  transition: all 0.5s ease;
  font-weight: 300;
  font-family: "Helvetica", sans-serif;
}
.homeLink:hover {
  text-decoration: underline;
  opacity: 1;
}
#aboutLink {
   color: darken(yellow, 25);
 }
#bioLink{
  text-decoration: none;
  padding-right: 20px;
  color: red;
  opacity: .6;
  transition: all 0.5s ease;
  font-weight: 300;
  font-family: "Helvetica", sans-serif;
}
#bioLink:hover {
  text-decoration: underline;
  opacity: 1;
}
#botpage {
  padding: 20px;
    h1 {
     font-weight: 300;
     text-align: center;
   }
}
#bot {
  justify-content: center;
  display: flex;
  flex-flow: row;
}
#botLink{
  text-decoration: none;
  padding-right: 20px;
  color: blue;
  opacity: .6;
  transition: all 0.5s ease;
  font-weight: 300;
  font-family: "Helvetica", sans-serif;
}
#botLink:hover {
  text-decoration: underline;
  opacity: 1;
}
#adminLink{
  text-decoration: none;
  padding-right: 5vw;
  color: green;
  opacity: .6;
  transition: all 0.5s ease;
  font-weight: 300;
  font-family: "Helvetica", sans-serif;
}
#adminLink:hover {
  text-decoration: underline;
  opacity: 1;
}
.padding {
   padding-top: 60px;
 }

 #about {
   padding: 60px;
   background-color: white;
   border-radius: 5px;
   border: 1px solid gray;
 }

/* Styles for Map Page */
#mapContainer {
  height: 100vh;
  width: 100vw;
  margin-left: -50px;
  margin-bottom: -50px;
  padding-bottom: 0px;
  z-index: 10;
}
/* Pin Styles */
.pinContainer {
  height: 8px;
  width: 8px;
  border: 4px solid #34495e;
  border-radius: 50%;
  color: #34495e;
  text-align: center;
  font-size: 15px;
  background-color: #ffffff;
  z-index: 999
}
.pinLetter {
  display: inline-block;
}
.admin {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0;
  h1 {
    margin: auto;
  }
}
#contentBlock {
  height: 180px;
  width: 180px;
  padding: 20px 20px 20px 20px;
  border: 2px solid #34495e;
  font-size: 12px;
  background-color: #ffffff;
  text-align: left;
  z-index: 99999;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 1px #999;
  margin-top: -5px;
  overflow-y: scroll;
}
// Attribution: http://stackoverflow.com/questions/12499886/how-to-hide-or-disable-the-google-logo-footer-copyright-on-google-maps-javascr/23613338
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
.adminNav {
   .pageLinks {
     font-size: 15px;
   }
 }

.bios {
  padding: 50px;
}

.newbar {
  padding: 30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  input, textarea {
    font-size: 16px;
    margin: 3px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid gray;
  }
  button {
    font-size: 16px;
    padding: 10px;
    margin: auto;
    margin-top: 3px;
    border-radius: 5px;
    border: 1px solid transparentize(black, .75);;
    background-color: $buttonColor;
  }
  button:hover {
    background-color: darken($buttonColor, 10);
  }
}

.admin {
  padding: 20px;
}


#updateLocs {
   padding-top: 60px;
   input, textarea {
     border: 1px solid gray;
   }
 }

.newLocMap {
   height: 300px;
   width: 40vw;
   margin: 10px;
 }
.analytics{
   padding-top: 40px;
   font-weight: lighter;
   display: flex;
   flex-flow: column;
   justify-content: center;
   h1 {
     font-weight: lighter;
     text-align: center;
     font-size: 40px;
   }
   .graphs {
     display: flex;
     flex-flow: column;
   }
   #locGraph, #intentGraph, #surveyGraphs {
     margin: 20px;
     justify-content: center;
     display: flex;
     .tick {
       font-size: 12px;
     }
     div {
       padding: 30px;
       background-color: white;
       border-radius: 10px;
       border: 1px solid gray;
     }
     h4 {
       text-align: center;
       font-size: 25px;
       font-weight: lighter;
     }
     table {
       margin: 5px;
       background-color: white;
       border-radius: 5px;
       border: 1px solid gray;
       font-weight: 300;
       padding: 10px;
     }
   }
 }


.error {
  padding-top: 25px;
  color: red;
}

#updateLocs {
   padding-top: 60px;
   input, textarea {
     border: 1px solid gray;
   }
 }

 .newLocMap {
   height: 300px;
   width: 40vw;
   margin: 10px;
   .pinContainer {
     width: 30px;
     height: 30px;
     background-color: lighten(blue, 30);
   }
   .pinLetter {
     font-size: 12px;
     margin-top: 7px;
   }
 }

.graphs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
 }

 .updateLocItem {
   margin: 5px;
   .newbar {
     padding: 0px;
   }
   div.map {
     display: flex;
     flex-flow: row;
     justify-content: center;
   }
   .editLocBar {
     padding: 10px;
   }
   .editLocBar button{
     font-size: 10px;
   }
 }

 .updateLocButtons {
   display: flex;
   flex-flow: row;
   justify-content: center;
   button {
     margin: 5px;
   }
  .graph {
    margin: 20px;
  }
}

#updateIntents {
   padding: 60px;
   table {
     margin: 5px;
     background-color: white;
     border-radius: 5px;
     border: 1px solid gray;
     font-weight: 300;
     padding: 15px;
     tr {
       border: 1px solid lighten(gray, 20);;
     }
   }
   th {
     font-weight: 300;
     text-align: left;
   }
   th.query {
     width: 10rem;
   }
   a:hover {
     font-weight: 600;
     color: green;
   }
   .tableHeading th {
     font-weight: bold;
     text-align: center;
   }
 }


/**-----------admin page ----------------**/
button.accordion {
    background: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-weight: 300;
    font-family: "Helvetica", sans-serif;
    margin-top:.5%;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}
button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

div.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items:center;
      margin: 15px 0;
    }
    .column-form {
      display:flex;
      flex-direction: column;
      justify-content: center;
    }
    .bigger{
      // flex-grow: 2;
    }
    .error {
      font-family: "Raleway", sans-serif;
      font-size:12px;
    margin-bottom: 6px;
    }
}

div.panel.show {
    padding: 25px;
    opacity: 1;
    max-height: 1000px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

.bios {
  text-align:center;
}

.collapsible-bio{
  width: 78%;
  margin: 0 auto;
  .save{
    text-align: center;
    border:none;
    text-decoration: none;
    background: #fff;
    text-transform:uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 11.8px;
    cursor: pointer;
    // color:#fff;
  }
}
/**---Image column----**/
.image-column{
  img {
    max-width:150px;
  }
  text-align: center;
  position:relative;
}

.collapsible-bio input[type="file"] {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	position: absolute;
  left: 52%;
}
/**--------------input form ------------**/
.collapsible-bio {
  font-family: "Raleway", sans-serif;
  font-size: 13.5px;
  display: inline-block;
  min-width:50px;
  text-align:right;
  padding-right: 3px;
  .input {
    margin: 15px 0;
  }
}

.collapsible-bio textarea {
  font-family: "Open Sans", sans-serif;
  box-shadow: none;
  padding: 0px 0px 2.3px 5px;
  margin-bottom: -2px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  width: 230px;
  rows: 4;
  -moz-columns: 63;
  columns: 80;
  resize: none;
  height: 16px;
}
.collapsible-bio textarea:focus,
.collapsible-bio textarea.focus {
  border-bottom: solid 2.6px #969696;
  outline: none;
}

/**---Image column----**/
.image-column{
  img {
    max-width:150px;
  }
  label {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 11.8px;
    :hover {
      font-size: 13px;
    }
  }
  text-align: center;
  position:relative;
}

.collapsible-bio input[type="file"] {
  width: 53px;
  height: 16px;
  opacity: 0;
  position: absolute;
  left: 34%;
}


/**-------Bios--------**/
.bios-user{
  background-image: url('~/bundle/../imgs/green2blur.jpg');
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 0 -10%;
  padding: 3% 15%;
}

.bio-item {
  width: 400px;
  background:#fff;
  border-radius: 6px;
  margin: 10px 10px 10px 10px;
}

.bio-item  {
  box-shadow: 2px 2px 13px #303030;
  .image img {
    border-radius: 6px 6px 0 0;
    width: 400px;
    height: 325px;
    object-fit: cover;
  }
  .name {
    padding-top: 18px;
    text-transform:uppercase;
    font-size: 20px;
    letter-spacing: 1.75px;
    font-family:'Raleway', sans-serif;
    font-weight:600;
    word-wrap: break-word;
  }
  .major {
    margin: -8px 0 30px 0;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    text-transform:uppercase;
    word-wrap: break-word;
  }
  .content {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: .84em;
    padding: 0 5%;
    color: #383838;
    p {
      word-wrap: break-word;
    }
  }
}

.footer {
  margin: 0px -50px;
  padding: 15px 0;
  background:#fff;
  a {
    text-decoration: none;
    color: #000;
    margin: 0 18px;
  }
  .fa-facebook-square {
    color: #3b5998;
  }
  .fa-twitter {
    color:#00aced;
  }
  font-size: 1.3em;
  display:flex;
  flex-direction:row;
  justify-content: center;
  p {
    position: absolute;
    right: 10px;
    font-family: "Helvetica";
    font-size: 14px;
    font-weight: 300;
    color: #303030;
  }
}

/* About Page Styles */
#aboutPadding {
  height: 80px;
  display: block;
}
#about {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  font-weight: 300;
  font-family: Helvetica, sans-serif;
  border: 1px solid #2980b9;
  box-shadow: 0px 0px 0.5px 0.5px #999;
  margin-bottom: 75px;
}
.aboutHeader {
  align-self: flex-start;
  color: #2980b9;
  text-decoration: underline;
}
.aboutBody {
  line-height: 2;
  margin-top: 0px;
  font-size: 14px;
}
